# Backend
DB_URI=
DB_NAME=
RIOT_API_KEY=
HENRY_API_KEY=
RIOT_GAME_NAME=
RIOT_TAG_LINE=
CORS_ORIGINS=http://localhost:5173

# Frontend (copiar este valor también en frontend/.env si quieres)
VITE_API_BASE_URL=http://localhost:8000
